name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - run: flutter --version

      - run: flutter pub get
        working-directory: mobile_app

      - run: flutter build apk --release
        working-directory: mobile_app

      - uses: actions/upload-artifact@v4
        with:
          name: indopedia-apk
          path: mobile_app/build/app/outputs/flutter-apk/app-release.apk
